# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

In [28]:
import pandas as pd
data = {'Data Science Tools':['Jupyter Notebooks', ' Anakonda', 'IBM Watson Studio']}
df = pd.DataFrame(data)
df

  Data Science Tools
0  Jupyter Notebooks
1           Anakonda
2  IBM Watson Studio

Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
print ("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [32]:
print ("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

__Objectives__:
- List popular languages for Data Science
- List commonly used libraries used by Data scientists
- Show examples of evaluating arithmetic expressions in Python

# Author
Mykhailo Stoikov